version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: collab_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    container_name: collab_redis
    ports:
      - "6379:6379"
    command: ["redis-server","--save","900","1"]

  document-service:
    build:
      context: ./services/document-service
      dockerfile: Dockerfile
    container_name: collab_document
    environment:
      - PORT=4002
      - MONGO_URI=mongodb://mongo:27017/collabspace_documents
      - JWT_SECRET=${JWT_SECRET}
      - SHARE_TOKEN_SECRET=${SHARE_TOKEN_SECRET}
      - USER_SERVICE_URL=http://user-service:4001
    ports:
      - "4002:4002"
    depends_on:
      - mongo

  collaboration-service:
    build:
      context: ./services/collaboration-service
      dockerfile: Dockerfile
    container_name: collab_collab
    environment:
      - PORT=4003
      - MONGO_URI=mongodb://mongo:27017/collabspace_collab
      - REDIS_URL=redis://redis:6379
      - KAFKA_BROKERS=kafka:9092
    ports:
      - "4003:4003"
    depends_on:
      - mongo
      - redis
      - kafka

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: collab_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: collab_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  version-service:
    build:
      context: ./services/version-service
      dockerfile: Dockerfile
    container_name: collab_version
    environment:
      - PORT=4004
      - MONGO_URI=mongodb://mongo:27017/collabspace_versions
      - KAFKA_BROKERS=kafka:29092
      - COLLABORATION_SERVICE_URL=http://collaboration-service:4003
    ports:
      - "4004:4004"
    depends_on:
      - mongo
      - kafka

volumes:
  mongo-data:
