version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: collab_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    container_name: collab_redis
    ports:
      - "6379:6379"
    command: ["redis-server","--save","900","1"]
volumes:
  mongo-data:

document-service:
  build:
    context: ./services/document-service
    dockerfile: Dockerfile
  container_name: collab_document
  environment:
    - PORT=4002
    - MONGO_URI=mongodb://mongo:27017/collabspace_documents
    - JWT_SECRET=${JWT_SECRET}
    - SHARE_TOKEN_SECRET=${SHARE_TOKEN_SECRET}
    - USER_SERVICE_URL=http://user-service:4001
  ports:
    - "4002:4002"
  depends_on:
    - mongo

collaboration-service:
  build:
    context: ./services/collaboration-service
    dockerfile: Dockerfile
  container_name: collab_collab
  environment:
    - PORT=4003
    - MONGO_URI=mongodb://mongo:27017/collabspace_collab
    - REDIS_URL=redis://redis:6379
    - KAFKA_BROKERS=kafka:9092
  ports:
    - "4003:4003"
  depends_on:
    - mongo
    - redis
    # - kafka (if you add it)
