PORT=8000
USER_SERVICE_URL=http://localhost:4001
DOC_SERVICE_URL=http://localhost:4002
COLLAB_SERVICE_URL=http://localhost:4003
VERSION_SERVICE_URL=http://localhost:4004
NOTIF_SERVICE_URL=http://localhost:4005
